 @import "foundation_and_overrides";
 @import "jquery.ui.datepicker";
.at{
	font-weight: bold;
	font-style: italic;
	color: #085F91;

}
.sc{
	width: 50px;
	margin-right: 20px;
}
.right{
	padding-top: 1em;
}
a{
	color: black;
	&:hover{
		color: black;
	}
}

.back{
	color: grey;
	font-style: italic;

	
}
.track, .album{
	background: rgb(240, 240, 240);
	border-radius: 6px;
}
.link{
		cursor: pointer;
	-webkit-transition: -webkit-transform .3s ease-out; 
	 -moz-transition: -moz-transform .3s ease-out; 
	 -o-transition: -o-transform .3s ease-out; 
	  transition: transform .3s ease-out; 
	&:hover{
		background: yellowgreen;
		 -moz-transform: scale(1.01);
	 -webkit-transform: scale(1.01);
	 -o-transform: scale(1.01);
	 transform: scale(1.01);
	}
}



.track{
  height: 60px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.album{
	margin-bottom: 20px !important;
	padding: 20px;
	.count{
		color: grey;
		font-style: italic;
	}
}
.delete{ 
	display: none;
}
.track:hover{
	.time{
		display: none;
	}
	.delete{
		display: block;
	}
}


.button.tiny.radius{
	margin-bottom: 0;
	position: relative;
	top: -9px;
}

.hide{
  display: none;
}

.download{
	top: 7px !important;
	margin-right: 11px;
	@extend .delete;

}
